<section id="about" aria-label="About SSU1053">
  <div class="container" data-aos="fade-up">
    <h2 class="fw-bold mb-4">About SSU1053: Introduction to Social Interaction</h2>
    <img src="assets/images/about.jpg" alt="About SSU1053" class="img-fluid  mb-4 rounded" style="max-width: 100%; height: auto; object-fit: cover;">
    <p>
      Welcome to my e-Portfolio for SSU1053 Introduction to Social Interaction. I am a Year 4 student in UNIMAS, pursuing a Bachelor of Computer Science in Software Engineering. Most of the time people thinks that programmers rarely interacts and socialize with others, but in reality, we do. Especially in workplace and group projects. This course has been a great opportunity for me to learn and improve my social interaction skills, which are essential in both personal and professional settings.
    </p>
    <p>
      Throughout this course, I have engaged in various activities that have helped me develop my social interaction skills. These activities include group discussions, role-playing exercises, and reflective writing. Each activity has provided me with valuable insights into the dynamics of social interactions and has allowed me to practice and refine my communication skills.
    </p>
    <p>
      Feel free to navigate the sections and lectures, engaging with my thoughts. If you have questions or insights to share, please reach out. Let's embark on this intellectual journey together!
    </p>
  </div>
</section>
